
/* 
Global Styles
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Helvetica Neue",sans-serif;
}

p {
  color: #fff;
}

.text-accent {
  color: #1db954;
}

/* 
Nav
*/

nav {
  display: flex;
  align-items: center;
  background-color: #191414;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #fff;
  font-weight: 700;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
  margin-left: 3em;
  color: #1db954;
}

.nav--link {
  color: #fff;
  margin: 1em;
}

.nav--link:last-of-type {
  margin-right: 3em;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:active {
  font-weight: bold;
}

/* 
MainContent
*/

.main-content {
  color: #fff;
  height: 90vh;
  display: flex;
  flex-direction: col;
  justify-content: center;
  border-top: 1px solid #fff;
  background-image: url("./images/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  overflow: hidden;
}

.main-content-title {
 margin-top: 15em;
 text-align: left;

}

.main-content-title-bg {
  /* background-color: #1db954;
  color: #191414;
  padding: 15px 30px;
  border-radius: 20px; */

}


/* 
Search 
*/

.artist-card {
  max-width: 700px;
  max-height: 400px;
  align-self: center;

}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-title {
  text-align: center;
  margin-top:5rem;
  margin-bottom: 3rem;
}

.radio-span {
  margin-left: 5px;
}

/* 
Footer
*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #191414;
  font-size: small;
}