
* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Helvetica Neue",sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #191414;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
  color: #1db954;
}

.nav--link {
  color: #fff;
  margin: 7px;
}


/* 
Main Styles
*/

.main-content {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
}

.main-content-text {
  max-width: 500px;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #191414;
}

